<html>
  <head>
    <title>Handy Man</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
     <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Istok+Web|Nanum+Gothic|Slabo+27px&display=swap" rel="stylesheet">

    </head>
  <body>

    <!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg ">
    <a class="navbar-brand " href="/"><img class="sizer" src="logo.png" alt="">HandyMan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
      aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars fa-1x"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Services
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
              <a class="dropdown-item" href="/fundi">Fundi</a>
              <a class="dropdown-item" href="/gardening">Gardening</a>
              <a class="dropdown-item" href="/house-cleaning">House cleaning</a>
              <a class="dropdown-item" href="/moving">Moving</a>
            </div>
          </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Login
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
              <a class="dropdown-item" href="/clients-form">Client</a>
              <a class="dropdown-item" href="/workers-form">Worker</a
            </div>
          </li>

      </ul>

    </div>
  </nav>
  <!--/.Navbar -->

    <div class="container main-body">
      #parse( $template )
    </div>

  <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3 text-center">

          <!-- Content -->

          <br>
          <br>
          <i class="material-icons">
            phone_iphone
            </i>
            <br>
          <p>+254799686098</p>
          <br>
          <br>

        </div>
        <!-- Grid column -->

        <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3 text-center">

          <br>
          <br>
          <i class="material-icons">
            phone
            </i>
          <p>+25420987652</p>
          <br>
          <br>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3 text-center">
            <br>
            <br>
            <i class="material-icons">
                email
                </i>
          <p> HandyMan@mail.mail</p>
          <br>
          <br>


        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> HandyMan</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <script type="text/javascript" src="/js/jquery-3.4.0.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="/js/mdb.min.js"></script>

  </body>
</html>